<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutoChargeIt">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>
    <test thread-count="5" name="GraphQlTests">
        <classes>
            <class name="api.tests.TestMutations"/>
            <class name="api.tests.TestQueries"/>
        </classes>
    </test>
</suite>